.main-box {
  background-color: #d5e0ef;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-box {
  background-color: white;
  width: 250px;
  height: 390px;
  border-radius: 14px;
  text-align: center;
}

img {
  width: 220px;
  height: 200px;
  padding: 15px;
  border-radius: 30px;
}
.textField {
  padding-left: 20px;
  padding-right: 20px;
}
h5 {
  font-size: 15px;
  padding-bottom: 15px;
  margin: 0px;
}
p {
  font-size: 12px;
  display: block;
  align-self: center;

  margin: 0px;
}
