.main-box {
  background-color: #d5e0ef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-box {
  background-color: white;
  max-width: 16rem;
  min-height: 25rem;
  border-radius: 14px;
  text-align: center;
}

img {
  max-width: 220px;
  min-height: 200px;
  padding: 15px;
  border-radius: 30px;
}
.textField {
  padding-left: 20px;
  padding-right: 20px;
}
h5 {
  font-size: 17px;
  padding-bottom: 1rem;
  margin: 0px;
}
p {
  font-size: 12px;
  display: block;
  align-self: center;
  padding-bottom: 2rem;

  margin: 0px;
}
