* {
  box-sizing: border-box;
  margin: 0px;
}
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
}

@font-face {
  font-family: InterRegular;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

.navcontainer {
  display: flex;
  flex-direction: row;
  margin: 5% 5% 0% 5%;
}
.navleft {
  flex: 50%;
  display: flex;
}

.navright {
  flex: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navright a {
  text-decoration: none;
  color: grey;
  font-family: InterRegular;
  font-size: small;
}

a:hover {
  color: var(--soft-red);
}
